---
import './card-portfolio.css';
const {
	title,
	titleEN,
	descriptionES,
	descriptionEN,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="descripcion__container">
		<h2 class="card__title" data-title-es={title} data-title-en={titleEN || title}>{title}</h2>
		<div class="descripcion">
			<p data-description-es={descriptionES} data-description-en={descriptionEN}>{descriptionES}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				<a href={repoURL} target="_blank" rel="noopener noreferrer">
					<span>
						<iconify-icon icon="mdi:github" width="18" height="18" />
						<span data-i18n="buttons.github">GitHub</span>
					</span>
				</a>
				{demoURL && (
					<a href={demoURL} target="_blank" rel="noopener noreferrer">
						<span>
							<iconify-icon icon="mdi:open-in-new" width="18" height="18" />
							<span data-i18n="buttons.demo">Demo</span>
						</span>
					</a>
				)}
			</div>
		</div>
	</div>
</div>
