---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="descripcion__container">
		<h2 class="card__title">{title}</h2>
		<div class="descripcion">
			<p>{descripcion}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				<a href={repoURL} target="_blank" rel="noopener noreferrer">
					<span>
						<iconify-icon icon="mdi:github" width="18" height="18" />
						GitHub
					</span>
				</a>
				{demoURL && (
					<a href={demoURL} target="_blank" rel="noopener noreferrer">
						<span>
							<iconify-icon icon="mdi:open-in-new" width="18" height="18" />
							Demo
						</span>
					</a>
				)}
			</div>
		</div>
	</div>
</div>
